@media (max-width: 600px) {
    .menu {
        color: var(--primary);
    }

    .page {
        width: 90vw;
    }

    .description {
        font-size: 20px;
    }

    .home-section {
        text-align: center;
        margin-top: 20vh;
        flex-direction: column;
    }


    .image img {
        width: 60vw;
        margin-left: 20px;
        margin-right: 20px;
        position: absolute;
        top: 100px;
        right: 15%;
    }

    .container.active .main {
        transform: perspective(1300px) rotateY(20deg) translateZ(110px) scale(0.5);
    }

    .container.active .shadow.one {
        animation: shadow-one 0.6s ease-out;
        transform: perspective(1300px) rotateY(20deg) translateZ(40px) scale(0.5);
    }

    .container.active .shadow.two {
        animation: shadow-two 0.6s ease-out;
        transform: perspective(1300px) rotateY(20deg) translateZ(70px) scale(0.5);
    }

    .container.active .main:hover+.shadow.one {
        transform: perspective(1300px) rotateY(20deg) translateZ(20px) scale(0.5);
    }

    .container.active .main:hover {
        transform: perspective(1300px) rotateY(20deg) translateZ(140px) scale(0.5);
    }
}

@media (max-width: 400px) {
    .image {
        /* display: none; */
    }
}

@media (max-width: 333px) {
    .home-section {
        margin-top: 20px;
    }
}